# Python & Virtual Environments
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.env
.env.docker

# Jupyter Notebooks
.ipynb_checkpoints/

# Data (Ignore all files inside, but keep the folders)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# ML Model Weights & Serialized Objects
*.pt
*.pth
*.pkl
*.bin
*.onnx
*.safetensors

# Hugging Face Cache
.cache/huggingface/

# Test cache
.pytest_cache/

# IDEs 
.vscode/
